

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900');
*{
    box-sizing: border-box;
}
* {
    transition: all .1s ease-in;
}
body {
    font: 300 17px/1.6 'Raleway', Arial, sans-serif;
   
}
a {
    text-decoration: none;
}
figure {
    margin: 0;
}

/* !!!! КОНТЕЙНЕР №1 !!!! */


.ba-header {
    background: white url(../img/img.png) center no-repeat;
    background-size: 115% auto;
    background-position-y: -2px;

    height: 1000px;
    position: relative;
   
}
/* стили контейнера, будут применяться ко всем контейнерам этого макета */
.ba-container {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
   
}
/* ......................... */

/* верхняя строка с логотипом и навигацией */
.ba-container__top {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px;
}
/* ...................... */
.ba-container__nav {
    text-align: right;
}
/* строка списка навигации */
.ba-nav__list {          
    display: inline-block;
    list-style: none;
}
/* ..................... */

/* ссылка навигации */
.ba-nav__link {
    color: black;
    text-decoration: none;
    padding-top: 5px;
    
}
/* ................ */
/* наведение на ссылку навигации */
.ba-nav__link:hover {
    border-top: 3px solid #ff6033;
}
/* ................... */

/* модификатор списка */
.ba-nav--modifier {
    font-size: 16px;
    font-weight: bold;
 }
 
/* модификатор строки списка */
.ba-nav__list--modifier:not(:last-child) {
    margin-right: 38px;
}
/* .................... */

/* контент первого блока */

/* h1 */
.ba-headline-first {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
}
/* ................ */

/* кнопка */
.ba-link {
    font-size: 20px;
    font-weight: 300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    width: 200px;
    height: 50px;
    background-color: #ff6033;
    color: white;
}
/* .......... */
/* модификатор кнопки */
.ba-link:hover {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
/* ...................... */
/* .....скролл....... */
.ba-fresh__scroll {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%)
}
/* .............. */
/* модификатор параграфа */
.ba-text__fresh {
    margin-bottom: 30px;
}
/* ............... */
/* !!!!!! конец блока №1 !!!!!!!!!!!!! */

/* !!!!!! блок №2 !!!!!!!!!*/

.ba-about {
    background-color: #00b1b1;
}

/* обвертка содержимого контейнера */
.ba-container__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
/* ............. */

/*  статья справа */
.ba-about__article {
    max-width: 500px;
    color: white;
}
/* .................... */

/* ..... заголовок h2 */
.headline_second {
    font-size: 90px;
    font-weight: bold;
    margin: 0;
}
/* ................. */


/*.......... блок №3 ............*/

.ba-services {
    background-color: #70bfff;
}
/* ...обвертка для контента блока */
.ba-container__cervices {
    padding-top: 130px;
    padding-left: 115px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ba-container__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.ba-links__button {
    width: 400px;
    height: 100px;
    padding-left: 70px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;

}
.ba-links__button:hover {
    background-color: aquamarine;
}

.ba-links:not(:last-child) {
  margin-bottom: 20px;  
}
.ba-container__picture {
    position: relative;
}
.headline_second--relative {
    position: relative;
    color: white;
    margin-bottom: 80px;
    z-index: 2;
}
.ba-img-potato {
    position: absolute;
    left: 0;
    top:-180px;
    z-index: 1;
}

/* .........блок №4.......... */

.ba-gallery {
    background-color: #ffe92f;
}
.ba-container__gallery {
    padding-top: 45px;
    padding-bottom: 100px;
    text-align: center;
    min-width: 630px;
}
.ba-gallery__p {
    max-width: 630px;
    display: inline-block;
}
.ba-gallery__images {
    margin-bottom: 40px;
}
.ba-food:nth-child(1) {
    margin-left: -8px;
    margin-right: 12px;
    float: left;
}
.ba-food:nth-child(2) {
    margin-top: 3px;
    margin-bottom: 13px;
}
.ba-food:nth-child(3) {

margin-bottom: 13px;
}
.ba-food:nth-child(4) {
margin-left: -3px;
margin-right: 14px;
}
.ba-food:nth-child(5) {
    margin-right: -4px;
}

.ba-link--gallery {
    background-color: #5585a2;

}











